---
import Layout from '../../layouts/Layout.astro';
import LoginPage from '@components/login/Login.tsx';
---

<Layout title="BOB: Login">
    <main>
        <LoginPage redirectTo={'/dashboard'} client:only />
    </main>
</Layout>
