---
import { ViewTransitions } from 'astro:transitions';
import Navbar from '@components/navbar/Navbar.tsx';
import ThemeRegistry from './ThemeRegistry.tsx';

interface Props {
    title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap"
        />
        <script>
            import '../turbo-router.js';
        </script>
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <!-- <ViewTransitions /> -->
    </head>
    <body>
        <!--Theme Registry doesn't work on nested components.
            It needs to be used in *every* react component-->
        <ThemeRegistry options={{ key: 'mui' }} client:only>
            <div data-turbo-permanent id="navbar">
                <Navbar logoutRedirectTo="/login" client:only />
            </div>
            <slot />
        </ThemeRegistry>
        <style is:global>
            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
        </style>
    </body>
</html>
