---
import Layout from '../layouts/Layout.astro';
import NodePage from '@components/NodePage/NodePage.tsx';
---

<Layout title="Bob">
    <main>
        <NodePage client:only />
    </main>
</Layout>
